<h1>Artie's Blog</h1>
<p>Welcome to my first blog! It was created with rails following the <a href="http://guides.rubyonrails.org/getting_started.html">Getting Started with Rails Guide</a>.</p>
<p>Click <%= link_to 'here', controller: 'articles' %> to take a peak!</p> 
